*.un~
.DS_Store
server/matryoshka/TeX/matryoshka.0-1.log
server/matryoshka/TeX/matryoshka.1-2.log
server/matryoshka/TeX/matryoshka.1-3.log
server/matryoshka/TeX/matryoshka.aux
server/matryoshka/TeX/matryoshka.aux.make
server/matryoshka/TeX/matryoshka.auxbbl.make
server/matryoshka/TeX/matryoshka.auxbbl.make.temp
server/matryoshka/TeX/matryoshka.auxtarget.make
server/matryoshka/TeX/matryoshka.bbl
server/matryoshka/TeX/matryoshka.blg
server/matryoshka/TeX/matryoshka.brf
server/matryoshka/TeX/matryoshka.d
server/matryoshka/TeX/matryoshka.fls
server/matryoshka/TeX/matryoshka.lbl
server/matryoshka/TeX/matryoshka.log
server/matryoshka/TeX/matryoshka.pdf
*.swp
server/matryoshka/matlab/*.obj
server/matryoshka/matlab/*.png
server/matryoshka/matlab/*.gif
server/matryoshka/matlab/*.jpg
server/matryoshka/matlab/*.rbr
server/matryoshka/matlab/*.mp4
server/matryoshka/matlab/*.mat
server/matryoshka/matlab/*.mexmaci64
server/matryoshka/build/*
server/matryoshka/project-page/*
server/matryoshka/manual/*
server/matryoshka/Release/*
server/matryoshka/Release2/*
server/matryoshka/Debug/*
server/matryoshka/.vscode/*
*-0.obj
*-1.obj
*-2.obj
*-C.obj
*-O.obj
*-T.obj
*-V.obj
*-0.OBJ
*-1.OBJ
*-2.OBJ
*-C.OBJ
*-O.OBJ
*-T.OBJ
*-V.OBJ
*-0.off
*-1.off
*-2.off
*-C.off
*-O.off
*-T.off
*-V.off
*-0.ply
*-1.ply
*-2.ply
*-C.ply
*-O.ply
*-T.ply
*-V.ply
*-all.obj
